<!-- ============================================================== -->
<!-- Coolcalc -->
<!-- ============================================================== -->

<div class="container">

    <!--- div "coolcalc-ui" renders the CoolCalc single page REST UI. -->
    <div id="coolcalc-ui" class="coolcalc-restui">
  
        <div class="contains-spinner">
            <span class="spinner">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </span>
        </div>
  
    </div>
  
  </div>
  
  <!-- ============================================================== -->
  <!-- End Coolcalc -->
  <!-- ============================================================== -->
  