<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="waves-effect waves-dark" href="#" aria-expanded="false">
                        <img src="./assets/images/users/profile.png" alt="user" />
                        <span class="hide-menu">Steave Jobs </span>
                    </a>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap waves-effect waves-dark">Components</li>

                <li > 
                    <a class=" waves-effect waves-dark" [routerLink]="['/dashboard']" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu"> 
                            Dashboard 
                        </span>
                    </a>
                    <a class="waves-effect waves-dark" [routerLink]="['/coolcalc']" aria-expanded="false">
                        <i class="mdi mdi-calculator"></i>
                        <span class="hide-menu"> 
                            CoolCalc MJ8
                        </span>
                    </a>

                
                </li>
                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->